body {
	position: relative;
	margin: 0;
	padding: 0;
	margin-left: 3%;
	margin-right: 3%;
	text-align: left;
	font-size: 18px;
	line-height: 1.6;
	word-break: break-word;
	background: #f5f5f5;
	font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}

.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.nav a {
	text-decoration: none;
	color: inherit;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.menu {
	display: flex;
	list-style: none;
	word-break: keep-all;
	overflow-x: auto;
	white-space: nowrap;
}

.menu li {
	margin-right: 20px;
}

.post {
    margin: 8%;
}

.post-title {
	margin-bottom: 2px;
	font-size:40px
}

@media (max-width:  768px) {
    body {
        margin-left: 1%;
		margin-right: 1%;
    }

	.post {
		margin: 1%;
	}
}